spring:
  profiles:
    default: local
  config:
    import: optional:application-secret.yml
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  data:
    redis:
      host: ${SPRING_REDIS_HOST:localhost}
      port: ${SPRING_REDIS_PORT:6379}

#logging:
#  level:
#    org.springframework.security: DEBUG
#    com.example.gradu: DEBUG

app:
  frontend-base-url: http://localhost:5173
  email:
    domain: "@handong.ac.kr"
    otp-ttl-minutes: 60
