name: SonarCloud

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  pull-requests: read

jobs:
  sonarcloud:
    name: SonarCloud Code Analysis
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0   # PR New Code 분석 필수

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle

      - name: Test + JaCoCo + SonarCloud
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./gradlew test jacocoTestReport sonarqube \
            -Dsonar.token=$SONAR_TOKEN \
            -Dsonar.organization=kimgyeonglock \
            -Dsonar.projectKey=KimGyeongLock_GRADU \
            -Dsonar.host.url=https://sonarcloud.io
