name: trivy-sca

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  trivy:
    name: trivy-sca
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Trivy fs scan (CRITICAL/HIGH)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: "fs"
          format: "table"
          severity: "CRITICAL,HIGH"
          ignore-unfixed: true
          exit-code: "1"
          scanners: "vuln,config"
